@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");

.bg-glass {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.01)),
		linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(2.5px);
	-webkit-backdrop-filter: blur(2.5px);
}

.btn-links {
	color: white;
	text-decoration: none;
}

#videoTrailer {
	width: 100%;
	height: 100vh;
	background-position: 50%;
	object-fit: cover;
	position: fixed;
}

.text-principal {
	color: white;
	font-family: "Montserrat", sans-serif;
}

.t-h4 {
	font-size: 5rem;
	font-weight: 500;
	margin: -30px;
}
.t-h2 {
	font-size: 7rem;
	font-weight: 700;
	margin: 0px;
}

.title-principal {
	display: flex;
	flex-direction: column;
}

.text-animation {
	animation: 3s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
	0% {
		opacity: 0;
		transform: translateY(80%);
	}
	20% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: translateY(0%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

#text01 {
	position: absolute;
	top: 25%;
	left: 15%;
}

#text02 {
	position: absolute;
	bottom: 25%;
	right: 15%;
	align-items: flex-end;
}

@media (max-width: 768px) {
	#text01 {
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translateX(-50%);
		align-items: center;
	}
	.t-h4 {
		font-size: 3rem;
		margin: -20px;
	}
	.t-h2 {
		font-size: 5rem;
	}

	#text02 {
		position: absolute;
		bottom: 10%;
		right: 50%;
		transform: translateX(50%);
		align-items: center;
	}
}
